html {
  background: #fff;
  color: #333;
  font: 1.125rem "Fira Sans", "Droid Sans", sans-serif;
}

pre, code {
  background: #ccc;
  font: 1rem "Inconsolata", "Droid Sans Mono", monospace;
}

p {
  line-height: 1.25rem;
}

table {
  border-bottom: medium solid #248;
  border-collapse: collapse;
  margin: 2rem auto;
  width: 90%;
}

table thead {
  background: #248;
  color: #fff;
}

table thead th {
  padding: 0.5rem;
  text-align: left;
}

table tbody td {
  padding: 0.5rem;
  text-align: left;
}

table tbody tr:nth-child(odd) {
  background: #ccc;
}

ol, ul {
  padding-left: 1rem;
}

a:link {
  color: #248;
}
a:visited {
  color: #024;
}
a:hover {
  background: #cfc;
}
a:active {
  color: #48f;
}

h1 {
  border-bottom: medium dotted #248;
}
h2 {
  border-bottom: thin dotted #248;
}

img {
  border: thin solid #eee;
}

@media(min-width: 640px) {
  html {
    background: #eee;
    margin: auto;
    max-width: 50rem;
    padding: 0;
  }

  body {
    background: white;
    margin: 0;
    padding: 0.5em 1em;
  }

  p, li {
    line-height: 1.31rem;
    text-align: justify;
  }

  li {
    margin-top: 0.5em;
  }

  li:first-child {
    margin-top: 0;
  }

  div.mugshot {
    padding-left: 1em;
    float: right;
  }
}
